@font-face {
    font-family: "Inter Regular";
    src: url("../assets/fonts/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Bold";
    src: url("../assets/fonts/static/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Extra Bold";
    src: url("../assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Variable";
    src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

:root {
    font-size: 15px;
    font-family: "Inter Regular", Arial, Helvetica, sans-serif;
}

body {
    padding: 1.5rem 15%;
}

nav {
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2.5rem;
}

h1 {
    font-weight: 900;
    font-size: 3.2rem;
    margin: 1rem 3rem 1rem 0;
    line-height: 3.5rem;
    font-family: "Inter Variable";
}

.site-icon {
    margin-right: auto;
    transform: scale(0.75);
}

.links-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    color: hsl(236, 13%, 42%);
    font-family: "Inter Variable";
    font-weight: 500;
    text-decoration: none;
}

nav a:hover {
    color:hsl(35, 77%, 62%);
}

nav .nav-logo {
    margin-right: auto;
}

#nav-checkbox {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
}

@media screen and (800px < width < 1200px) {
    body {
        padding: 1.5rem 4rem;
    }
}

@media screen and (width <= 800px) {
    body {
        padding: 0.65rem;
    }

    h1 {
        font-weight: 900;
        font-size: 2.4rem;
        margin: 1rem 2rem 1rem 0;
        line-height: 2.6rem;
        font-family: "Inter Variable";
    }

    .links-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        max-width: 70%;
        width: 100%;
        
        background-color: white;
        box-shadow: -5px 0px 5px rgba(0,0,0,0.25);
        transition: 0.5s ease-out;
    }

    nav {
        margin-bottom: 0.5rem;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 1rem 1.5rem;
        justify-content: flex-start;
        font-size: 1.3rem;
    }

    nav a:first-of-type {
        margin-top: 2rem;
    }

    .open-sidebar-button, .close-sidebar-button {
        display: block;
        align-self: flex-end;
        margin: 2rem 1.5rem;
    }

    #nav-checkbox:checked ~ .links-container {
        right: 0;
    }

    #nav-checkbox:checked ~ #overlay {
        background-color: rgba(0,0,0,0.25);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    .site-icon {
        align-self: flex-start;
    }

    .main-article-img {
        content: url("../assets/images/image-web-3-mobile.jpg");
        max-width: 100%;
        box-sizing: border-box;
    }

    .top-articles img {
        max-width: 6rem;
    }

    .top-article-content {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        justify-content: space-around;
    }

    .main-article {
        margin-bottom: 4.5rem;
    }
    
}


@media screen and (width > 800px) {
    .grid-col-span-2 {
        grid-column: span 2;
    }

    .page-body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .main-article-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin-top: 1rem;
    }

    .top-articles {
        grid-column-start: 1;
        grid-column-end: 4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .top-articles img {
        max-width: 20%;
        margin: auto;
    }
    .main-article-img {
        content: url("../assets/images/image-web-3-desktop.jpg");
        max-width: 100%;
        box-sizing: border-box;
    }

    .main-article {
        margin-bottom: 2rem;
    }

}

.main-article-p {
    color: hsl(236, 13%, 42%);
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.main-article-read-more {
    background-color: hsl(5, 85%, 63%);
    color: white;
    border: none;
    border-radius: 0px;
    text-transform: uppercase;
    padding: 1rem 2rem;
    letter-spacing: 0.2rem;
    font-family: "Inter Bold";
}

.main-article-read-more:hover {
    background-color: hsl(240, 100%, 5%);
}

.new-articles {
    background-color: hsl(240, 100%, 5%);
    padding: 1rem;
    margin-bottom: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.new-articles > h2 {
    color: hsl(35, 77%, 62%);
    font-family: "Inter Variable";
    font-weight: 600;
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
    font-size: 2rem;
}

.new-articles > h3 {
    color: hsl(36, 100%, 99%);
    font-family: "Inter Bold";
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.new-articles > h3 > a {
    color: inherit;
    text-decoration: none;
}

.new-articles > h3 > a:hover {
    color: hsl(35, 77%, 62%);
}

.new-articles > p {
    color: hsl(233, 8%, 79%);
    line-height: 1.75rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

hr {
    border: hsl(236, 13%, 42%) 1px solid;
    width: 100%;
}

.top-articles {
    margin-bottom: 4rem;
}

.top-article-1-img {
    content: url("../assets/images/image-retro-pcs.jpg");
}

.top-article-2-img {
    content: url("../assets/images/image-top-laptops.jpg");
}

.top-article-3-img {
    content: url("../assets/images/image-gaming-growth.jpg");
}

.top-article-content h2 {
    color: hsl(233, 8%, 79%);
    font-family: "Inter Variable";
    font-weight: 600;
    margin-top: 0rem;
    font-size: 2rem;
    margin-bottom: 0;
}

.top-article-content h3 {
    color: hsl(240, 100%, 5%);
    font-family: "Inter Variable";
    font-weight: 800;
    margin-top: 0rem;
    font-size: 1.1rem;
    margin-bottom: 0;
}

.top-article-content > h3 > a {
    color: inherit;
    text-decoration: none;
}

.top-article-content > h3 > a:hover {
    color: hsl(5, 85%, 63%);
}

.top-article-content p {
    margin-top: 0;
    color: hsl(236, 13%, 42%);
    margin-bottom: 0;
}

.top-article {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.top-article-content {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: space-between;
}

